.login__input {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    width: 358px;
    padding-bottom: 5px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-bottom: 2px solid #cccccc; 
    outline: none;
}

.login__input::placeholder {
    color: #cccccc;
    font-weight: 500;
}

.login__input:not(:first-child) {
    margin-top: 30px;
}