.element__trash-button {
    background-image: url(../../../images/elements-trash-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    width: 18px;
    height: 19.3px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 23.79px;
    right: 16.28px;
    background-color: unset;
    transition: opacity 0.3s ease;
}

.element__trash-button:hover {
    opacity: 0.6;
}