.element__like-button {
    background-image: url(../../../images/elements-like-button.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    text-align: center;
    width: 22px;
    height: 19px;
    box-sizing: border-box;
    border: none;
    padding: 0;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.element__like-button:hover {
    opacity: 0.5;
}